aiohttp
flwr
numpy
opencv-python<4.6
pandas
pillow
pip
prettytable
protobuf
pudb
scikit-build
scikit-image
scikit-learn
scipy
tensorboard
tensorboardX
tqdm
# torchvision==0.14.0
# git+https://github.com/pytorch/vision@v0.14.0
# https://developer.download.nvidia.com/compute/redist/jp/v502/pytorch/torch-1.13.0a0+936e9305.nv22.11-cp38-cp38-linux_aarch64.whl
